  
%br
%br
.row.pull-right
  #quick_links

    %button.btn.btn-default{"data-container" => "body", "data-content" => "#{scheduling_contact_email}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button", "data-html" => :true, "target" => "_blank"}
      .fa.fa-calendar
        Contact Scheduleing

    %button.btn.btn-default{"data-container" => "body", "data-content" => "#{support_contact_email}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button", "data-html" => :true, "target" => "_blank"}
      .fa.fa-wrench
        Contact Support

    %button.btn.btn-sm.btn-default{"data-container" => "body", "data-content" => "#{floor_plan}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button", "data-html" => :true, "target" => "_blank"}
      .fa.fa-building
        Floor Map