%h4
  My classroom is not an LSA ISS supported classroom. Who provides support?
%p
  This database lists classrooms managed centrally by the College of LSA and classrooms managed independently within a given LSA department or academic program. Classrooms managed independently are labeled as "Departmental". Please select the contact tab for more information about support for that room.

%h4
  How do I reserve an LSA classroom?
%p
  In general, LSA Classrooms are reserved via the Registrar's Office. If you are Faculty or Staff, please work with your department administration to schedule an LSA classroom for regular classes and for special events. If you are a student coordinating meetings or events for a registered U of M student organization, contact Student Organization Accounts Service (SOAS) to reserve LSA rooms. More information is available in the <a href="http://campusinvolvement.umich.edu/content/guidebook-student-organizations" target="_blank"> guidebook for student organizations</a>.
%p
  For any equipment support in an LSA college classroom (LSA Technogy Services supported), or to set up an appointment for training on the equipment in an LSA classroom,  please visit <a href="https://lsa.umich.edu/technology-services/instructional-support-services.html" target="_blank"> https://lsa.umich.edu/technology-services/instructional-support-services.html </a> or call LSA Technology Services at 615-0100.

%h4
  How do I support a student with disabilities in a LSA classroom?
%p
  Services for Students with Disabilities works with students and faculty to identify the resources needed for a student to succeed in any class at the University of Michigan. You should contact Services for Students with Disabilities any time you suspect that a student in your class may need assistance. Their office will, in turn, coordinate with LSA Instructional Support Services to ensure that appropriate equipment is either available in the LSA classroom or accessible to the student.
%p
  For more infomation about Services for Students with Disabilities, please refer to <a href="http://ssd.umich.edu" target="_blank"> http://ssd.umich.edu  </a>or call them at 763-3000.

%h4
  I have a particular question about using the equipment in a specific LSA classroom. How do I get help?
%p
  Call
  %b 615-0100.
  LSA Technology Services can walk you through using the equipment, can come to the classroom if it's an emergency, or they can arrange a time to meet with you outside of class to go over the features and functions of the equipment in any LSA classroom.
