%h3
  Web Site Support
%p
  Support for this web site is provided by LSA TS. To report an issue, please contact us via telephone (734) 615-0100 or visit us at
  = link_to "https://lsa.umich.edu/technology-services", "https://lsa.umich.edu/technology-services/help-support.html", target: "_blank"

%hr

%h3
  Finding Classroom Support

%p
  MClassrooms provides information about classrooms from multiple campus units. Contact information for each classroom is provided on the page for that particular classroom. Click on the "Contact" tab (located on the lower right of the main classroom image.)
%p
  = link_to "View Classrooms", classrooms_url


%hr

%h3
  LSA ISS Classroom & Instructional Support

%p
  The ISS Operations group provides audio-visual equipment and services for all classes and events held in LSA classrooms.  In addition, we also provide support for special events on and off campus for the University of Michigan community.  If you have any questions concerning AV support for your class or event, or to set up an appointment for training on the equipment in an LSA classroom, please telephone
  %b 615-0100
  or visit us at
  = link_to "https://lsa.umich.edu/technology-services/help-support.html", "https://lsa.umich.edu/technology-services/help-support.html", target: "_blank"

%p
  The Learning Technologies & Consulting Group works with faculty to fulfill learning objectives on instructional technology projects. If you would like to meet with our consultants to discuss ways of applying classroom technologies to your teaching, please contact them via telephone (734) 615-0100 or visit us at
  = link_to "https://lsa.umich.edu/technology-services", "https://lsa.umich.edu/technology-services", target: "_blank"
