<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ground floor - Ruthven museum</title>
</head>
<body>
<img src="/maps/agrmu1.jpg" alt="image Ruthven 1st floor" width="1000" height="618" border="0" usemap="#agrmu1" />
<map name="agrmu1" id="agrmu1">
  <area shape="rect" coords="465,312,745,344" href="agrmu2.html" alt="to the 2nd floor" title="to the 2nd floor" />
  <area shape="rect" coords="558,356,817,388" href="index.html" alt="link to the campus map" title="link to the campus map" />
  <area shape="poly" coords="467,497,521,549,454,618,405,565" href="../classrooms/AGRMU1532" alt="Link to the data for room 1532" title="Link to the data for room 1532" />
</map>
</body>
</html>
