<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maps - AH Ground</title>
</head>
<body>
<img src="/maps/ah.jpg" alt="image ground floor Angell" width="583" height="1000" border="0" usemap="#ahg" />
<map name="ahg" id="ahg">
  <area shape="rect" coords="320,152,373,169" href="ah3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="524,498,573,578" href="hhg.html" alt="link to Haven Hall" title="link to Haven Hall" />
  <area shape="rect" coords="340,278,386,306" href="ah4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="392,278,433,304" href="ah5.html"  alt="Link to 5th floor" title="Link to 5th floor" />
  <area shape="rect" coords="283,278,334,305" href="ah2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="518,380,567,460" href="mhg.html" alt="link to Mason Hall" title="link to Mason Hall" />
  <area shape="rect" coords="186,145,271,193" href="mhg.html" alt="link to Mason Hall" title="link to Mason Hall" />
  <area shape="rect" coords="224,307,506,336" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="153,252,204,304" href="../classrooms/AHG232"  alt="Link to data room G232" title="Link to data room G232" />
  <area shape="rect" coords="152,305,204,353" href="../classrooms/AHG228"  alt="Link to data room G228" title="Link to data room G228" />
  <area shape="rect" coords="366,503,497,618" href="../classrooms/AHC"  alt="Link to data Aud C" title="Link to data Aud C" />
  <area shape="rect" coords="364,623,483,760" href="../classrooms/AHA"  alt="Link to data Aud A" title="Link to data Aud A" />
  <area shape="rect" coords="214,614,331,759" href="../classrooms/AHB"  alt="Link to data Aud B" title="Link to data Aud B" />
  <area shape="rect" coords="208,501,334,611" href="../classrooms/AHD"  alt="Link to data Aud D" title="Link to data Aud D" />
  <area shape="rect" coords="154,577,202,650" href="../classrooms/AHG168"  alt="Link to data room G168" title="Link to data room G168" />
  <area shape="rect" coords="153,650,202,702" href="../classrooms/AHG160"  alt="Link to data room G160" title="Link to data room G160" />
  <area shape="rect" coords="156,773,188,845" href="../classrooms/AHG144"  alt="Link to data room G144" title="Link to data room G144" />
  <area shape="rect" coords="156,870,187,919" href="../classrooms/AHG128"  alt="Link to data room G128" title="Link to data room G128" />
  <area shape="rect" coords="72,801,130,895" href="../classrooms/AHG127"  alt="Link to data room G127" title="Link to data room G127" />
  <area shape="rect" coords="273,763,328,833" href="../classrooms/AHG026" alt="Link to data room G026" title="Link to data room G026" />
  <area shape="rect" coords="72,898,132,989" href="../classrooms/AHG115"  alt="Link to data room G115" title="Link to data room G115" />
</map>
</body>
</html>
