<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maps - AH Ground</title>
</head>
<body>
<img src="/maps/ah1.jpg" alt="1st floor Angell" width="531" height="1000" border="0" usemap="#ah1" longdesc="file:///L|/jpegs of classrooms/Maps/webmaps/ah1.jpg" />
<map name="ah1" id="ah1">
  <area shape="rect" coords="443,379,478,405" href="ah5.html"  alt="to the 5th floor" title="to the 5th floor" />
  <area shape="rect" coords="401,379,436,405" href="ah4.html"  alt="to the 4th floor" title="to the 4th floor" />
  <area shape="rect" coords="270,378,345,403" href="ah.html"  alt="to the ground floor" title="to the ground floor"  />
  <area shape="rect" coords="169,159,204,186" href="mh1.html" alt="link to Mason Hall" title="link to Mason Hall" />
  <area shape="rect" coords="285,413,455,439" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="525,379,574,459" href="mhg.html" alt="link to Mason Hall" />
</map>
</body>
</html>
