<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maps - AH floor 2</title>
</head>
<body>
<img src="/maps/ah3.jpg" alt="2nd floor Angell" width="475" height="1000" border="0" usemap="#ah3" />
<map name="ah3" id="ah3"><area shape="rect" coords="303,373,338,399" href="ah2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="389,370,424,396" href="ah5.html"  alt="Link to 5th floor" title="Link to 5th floor" />
  <area shape="rect" coords="347,372,382,398" href="ah4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="224,373,299,398" href="ah.html"  alt="Link to ground floor" title="Link to ground floor" />
  <area shape="rect" coords="156,153,209,186" href="mh3.html" alt="link to Mason Hall" title="link to Mason Hall" />
  <area shape="rect" coords="233,404,403,430" href="index.html"  alt="Link to campus map" title="Link to campus map" />
</map>
</body>
</html>
