<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maps - AH floor 4</title>
</head>

<body>
<img src="/maps/ah4.jpg" alt="4th floor Angell" width="675" height="700" border="0" usemap="#ah4" longdesc="file:///L|/jpegs of classrooms/Maps/webmaps/ah1.jpg" />
<map name="ah4" id="ah4"><area shape="rect" coords="605,165,640,191" href="ah5.html"  alt="Link to 5th floor" /><area shape="rect" coords="538,165,586,192" href="ah2.html"  alt="Link to 2nd floor" /><area shape="rect" coords="427,166,521,195" href="ah.html"  alt="Link to ground floor" />
  <area shape="rect" coords="26,178,98,307" href="../classrooms/AH4207" alt="Link to data room 4207" />
  <area shape="rect" coords="420,203,655,233" href="index.html"  alt="Link to campus map" />
  <area shape="rect" coords="25,33,96,174" href="../classrooms/AH4111"  alt="Link to data room 4111" />
  <area shape="rect" coords="26,310,96,437" href="../classrooms/AH4199" alt="Link to data room 4199" />
  <area shape="rect" coords="25,558,96,678" href="../classrooms/AH4175"  alt="Link to data room 4175" />
  <area shape="rect" coords="330,790,376,833" href="../classrooms/AH2018"  alt="Link to data room 2018" />
  <area shape="rect" coords="276,789,328,832" href="../classrooms/AH2024" alt="Link to data room 2024" />
</map>
</body>
</html>
