<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maps - AH floor 5</title>
</head>

<body>
<img src="/maps/ah5.jpg" alt="" width="660" height="700" border="0" usemap="#ah5" />
<map name="ah5" id="ah5">
  <area shape="rect" coords="575,200,610,226" href="ah4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="508,199,556,226" href="ah2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="402,197,496,226" href="ah.html"  alt="Link to ground floor" title="Link to ground floor" />
  <area shape="rect" coords="415,235,650,265" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="234,576,350,679" href="../classrooms/AH5180B" alt="Link to data room 5180b" title="Link to data room 5180b" />
  <area shape="rect" coords="23,505,129,619" href="../classrooms/AH5179"  alt="Link to data room 5179" title="Link to data room 5179" />
</map>
</body>
</html>
