<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maps CCL floor 2</title>
</head>
<body>
<img src="/maps/ccl2.jpg" alt="CC Little floor 2" width="446" height="800" border="0" usemap="#ccl2" />
<map name="ccl2" id="ccl2">
  <area shape="rect" coords="45,747,178,800" href="denn2.html"  alt="Link to Dennison" title="Link to Dennison" />
  <area shape="rect" coords="223,601,258,621" href="ccl3.html" alt="link to 3rd floor" title="link to 3rd floor" />
  <area shape="rect" coords="274,600,428,623" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="185,602,220,622" href="ccl1.html" alt="link to 1st floor" title="link to 1st floor" />
  <area shape="rect" coords="11,240,62,284" href="../classrooms/CCL2502"  alt="Link to data room 2502" title="Link to data room 2502" />
  <area shape="rect" coords="10,96,75,141" href="../classrooms/CCL2520"  alt="Link to data room 2520" title="Link to data room 2520" />
</map>
</body>
</html>
