<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maps CCL floor 3</title>
</head>
<body>
<img src="/maps/ccl3.jpg" alt="CC Little floor 3" width="502" height="800" border="0" usemap="#ccl3" />
<map name="ccl3" id="ccl3">
  <area shape="rect" coords="335,659,489,682" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="260,660,295,680" href="ccl2.html" alt="link to 2nd floor" title="link to 2nd floor" />
  <area shape="rect" coords="222,661,257,681" href="ccl1.html" alt="link to 1st floor" title="link to 1st floor" />
  <area shape="poly" coords="7,53" href="#" />
  <area shape="poly" coords="240,67" href="#" />
  <area shape="poly" coords="6,52" href="#" />
  <area shape="poly" coords="173,85,203,115,157,158,131,124" href="../classrooms/CCL3540" alt="link to data room 3540" title="link to data room 3540" />
</map>
</body>
</html>
