<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Chemistry - ground</title>
</head>
<body>
<img src="/maps/chem1.jpg" alt="Image of Chemistry - ground floor" width="1024" height="641" border="0" usemap="#chem1" longdesc="/images/maps/chem1.jpg" />
<map name="chem1" id="chem1">
  <area shape="rect" coords="108,465,198,532" href="../classrooms/CHEM1200"  alt="Link to data for room 1200" title="Link to data for room 1200" />
  <area shape="rect" coords="107,341,196,431" href="../classrooms/CHEM1210"  alt="Link to data for room 1210" title="Link to data for room 1210" />
  <area shape="rect" coords="215,208,265,261" href="../classrooms/CHEM1239" alt="Link to data for room 1239" title="Link to data for room 1239" />
  <area shape="rect" coords="214,263,264,313" href="../classrooms/CHEM1231" alt="Link to data for room 1231" title="Link to data for room 1231" />
  <area shape="rect" coords="264,304,353,417" href="../classrooms/CHEM1400"  alt="Link to data for room 1400" title="Link to data for room 1400" />
  <area shape="rect" coords="266,209,334,299" href="../classrooms/CHEM1300"  alt="Link to data for room 1300" title="Link to data for room 1300" />
  <area shape="rect" coords="726,120,845,198" href="../classrooms/CHEM1640"  alt="Link to data for room 1640" title="Link to data for room 1640" />
  <area shape="rect" coords="42,560,234,582" href="chema8.html"  alt="Link to basement atrium" title="Link to basement atrium" />
  <area shape="rect" coords="45,597,267,622" href="index.html"  alt="Link to campus map" />
  <area shape="rect" coords="661,59,710,101" href="../classrooms/CHEM1624"  alt="Link to data for room 1624" title="Link to data for room 1624" />
  <area shape="rect" coords="716,61,776,101" href="../classrooms/CHEM1628"  alt="Link to data for room 1628" title="Link to data for room 1628" />
  <area shape="rect" coords="780,61,839,102" href="../classrooms/CHEM1632"  alt="Link to data for room 1632" title="Link to data for room 1632" />
  <area shape="rect" coords="846,61,904,99" href="../classrooms/CHEM1636"  alt="Link to data for room 1636" title="Link to data for room 1636" />
  <area shape="rect" coords="649,143,723,197" href="../classrooms/CHEM1650"  alt="Link to data for room 1650" title="Link to data for room 1650" />
  <area shape="poly" coords="838,258,918,179,939,190,986,275,985,347,940,428,917,445,838,366" href="../classrooms/CHEM1800"  alt="Link to data for room 1800" title="Link to data for room 1800" />
  <area shape="poly" coords="867,435,968,534,968,546,839,546,840,558,749,558,750,516,629,516,605,492,658,440,742,439,742,424,772,424,772,436" href="http://www.lsa.umich.edu/slc/" target="blank" alt="link to the SLC home page" title="link to the SLC home page" />
</map>
</body>
</html>
