<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denninson - 4th floor</title>
</head>
<body>
<img src="/maps/denn4.jpg" alt="Image Dennison - floor 4" width="715" height="308" border="0" usemap="#denn4" />
<map name="denn4" id="denn4">
  <area shape="rect" coords="645,18,677,40" href="denn8.html"  alt="Link to 8th floor" title="Link to 8th floor" />
  <area shape="rect" coords="516,219,707,301" href="../classrooms/DENN455"  alt="Link to data room 455" title="Link to data room 455" />
  <area shape="rect" coords="353,220,510,303" href="../classrooms/DENN445"  alt="Link to data room 445" title="Link to data room 445" />
  <area shape="rect" coords="205,221,348,303" href="../classrooms/DENN427"  alt="Link to data room 427" title="Link to data room 427" />
  <area shape="rect" coords="7,221,200,300" href="../classrooms/DENN413"  alt="Link to data room 413" title="Link to data room 413" />
  <area shape="rect" coords="114,98,287,177" href="../classrooms/DENN414"  alt="Link to data room 414" title="Link to data room 414" />
  <area shape="rect" coords="296,100,421,179" href="../classrooms/DENN430"  alt="Link to data room 430" title="Link to data room 430" />
  <area shape="rect" coords="607,19,639,41" href="denn6.html"  alt="Link to 6th floor" title="Link to 6th floor" />
  <area shape="rect" coords="563,20,595,42" href="denn5.html"  alt="Link to 5th floor" title="Link to 5th floor" />
  <area shape="rect" coords="516,19,548,41" href="denn3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="422,20,454,42" href="denn1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="465,21,504,42" href="denn2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="243,44,412,66" href="index.html"  alt="Link to campus map" title="Link to campus map" />
</map>
</body>
</html>
