<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dennison - 6th floor</title>
</head>
<body>
<img src="/maps/denn6.jpg" alt="Image Dennison - floor 6" width="715" height="313" border="0" usemap="#denn6" />
<map name="denn6" id="denn6">
  <area shape="rect" coords="649,22,681,44" href="denn8.html"  alt="Link to 8th floor" title="Link to 8th floor" />
  <area shape="rect" coords="604,21,636,43" href="denn5.html"  alt="Link to 5th floor" title="Link to 5th floor" />
  <area shape="rect" coords="560,21,592,43" href="denn4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="514,21,546,43" href="denn3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="464,23,503,44" href="denn2.html"  alt="Link to 2nd floor"  title="Link to 2nd floor" />
  <area shape="rect" coords="420,22,452,44" href="denn1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="596,230,709,306" href="../classrooms/232"  alt="Link to data room 655" title="Link to data room 655" />
  <area shape="rect" coords="238,46,407,68" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="474,228,590,305" href="../classrooms/DENN641"  alt="Link to data room 641" title="Link to data room 641" />
  <area shape="rect" coords="374,229,470,306" href="../classrooms/DENN637"  alt="Link to data room 637" title="Link to data room 637" />
  <area shape="rect" coords="245,230,366,306" href="../classrooms/DENN621"  alt="Link to data room 621" title="Link to data room 621" />
  <area shape="rect" coords="126,230,239,306" href="../classrooms/DENN613"  alt="Link to data room 613" title="Link to data room 613" />
  <area shape="rect" coords="9,230,122,306" href="../classrooms/DENN607"  alt="Link to data room 607" title="Link to data room 607" />
  <area shape="rect" coords="326,106,420,179" href="../classrooms/DENN626"  alt="Link to data room 626" title="Link to data room 626" />
  <area shape="rect" coords="218,107,317,178" href="../classrooms/DENN618"  alt="Link to data room 618" title="Link to data room 618" />
  <area shape="rect" coords="113,105,207,178" href="../classrooms/DENN610"  alt="Link to data room 610" title="Link to data room 610" />
</map>
</body>
</html>
