<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dennison - 5th floor</title>
</head>
<body>
<img src="/maps/denn5.jpg" alt="Image Dennison - floor 5" width="715" height="298" border="0" usemap="#denn5" />
<map name="denn5" id="denn5">
  <area shape="rect" coords="649,18,681,40" href="denn8.html"  alt="Link to 8th floor" title="Link to 8th floor" />
  <area shape="rect" coords="385,209,513,291" href="../classrooms/DENN539"  alt="Link to data room 539" title="Link to data room 539" />
  <area shape="rect" coords="295,91,420,170" href="../classrooms/DENN524"  alt="Link to data room 524" title="Link to data room 524" />
  <area shape="rect" coords="519,212,707,292" href="../classrooms/DENN553"  alt="Link to data room 553" title="Link to data room 553" />
  <area shape="rect" coords="204,210,380,291" href="../classrooms/DENN513"  alt="Link to data room 513" title="Link to data room 513" />
  <area shape="rect" coords="6,210,198,291" href="../classrooms/DENN501"  alt="Link to data room 501" title="Link to data room 501" />
  <area shape="rect" coords="114,92,288,166" href="../classrooms/DENN514"  alt="Link to data room 514" title="Link to data room 514" />
  <area shape="rect" coords="611,17,643,39" href="denn6.html"  alt="Link to 6th floor" title="Link to 6th floor" />
  <area shape="rect" coords="567,19,599,41" href="denn4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="521,17,553,39" href="denn3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="427,18,459,40" href="denn1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="469,18,508,39" href="denn2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="249,42,418,64" href="index.html"  alt="Link to campus map" title="Link to campus map" />
</map>
</body>
</html>
