<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dennison - ground floor</title>
</head>
<body>
<img src="/maps/denn1.jpg" alt="Image Denninson - ground" width="741" height="800" border="0" usemap="#denn1" />
<map name="denn1" id="denn1">
  <area shape="rect" coords="416,249,448,271" href="denn8.html"  alt="Link to 8th floor" title="Link to 8th floor" />
  <area shape="rect" coords="175,36,242,139" href="../classrooms/DENN120"  alt="Link to data room 120" title="Link to data room 120" />
  <area shape="rect" coords="81,37,170,140" href="../classrooms/DENN110"  alt="Link to data room 110" title="Link to data room 110" />
  <area shape="rect" coords="250,37,339,140" href="../classrooms/DENN130"  alt="Link to data room 130" title="Link to data room 130" />
  <area shape="rect" coords="526,295,711,453" href="../classrooms/DENN170"  alt="Link to data room 170" title="Link to data room 170" />
  <area shape="rect" coords="527,529,712,687" href="../classrooms/DENN182"  alt="Link to data room 182" title="Link to data room 182" />
  <area shape="rect" coords="376,250,408,272" href="denn6.html"  alt="Link to 6th floor" title="Link to 6th floor" />
  <area shape="rect" coords="337,250,369,272" href="denn5.html"  alt="Link to 5th floor" title="Link to 5th floor" />
  <area shape="rect" coords="296,250,328,272" href="denn4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="256,249,288,271" href="denn3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="40,285,209,307" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="209,250,248,271" href="denn2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="523,755,566,795" href="ehb.html" alt="go to East Hall" title="go to East Hall" />
</map>
</body>
</html>
