<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dennison - 8th floor</title>
</head>
<body>
<img src="/maps/denn8.jpg" alt="Dennison - floor 8" width="715" height="291" border="0" usemap="#denn8" />
<map name="denn8" id="denn8">
  <area shape="rect" coords="619,11,651,33" href="denn6.html"  alt="Link to 6th floor" title="Link to 6th floor" />
  <area shape="rect" coords="578,11,610,33" href="denn5.html"  alt="Link to 5th floor" title="Link to 5th floor" />
  <area shape="rect" coords="535,10,567,32" href="denn4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="488,10,520,32" href="denn3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="441,13,475,32" href="denn2.html"  alt="Link to 2nd floor"  title="Link to 2nd floor" />
  <area shape="rect" coords="395,11,427,33" href="denn1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="254,40,411,60" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="8,207,184,284" href="../classrooms/582"  alt="Link to data room 807" title="Link to data room 807" />
</map>
</body>
</html>
