<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Hall - floor 1</title>
</head>
<body>
<img src="/maps/eh1.jpg" alt="Image East Hall - 1st floor" width="737" height="800" hspace="20" vspace="20" border="0" usemap="#eh1"  />
<map name="eh1" id="eh1">
  <area shape="rect" coords="144,493,206,561" href="../classrooms/EH1060"  alt="Link to data room 1060" title="Link to data room 1060" />
  <area shape="rect" coords="296,479,385,622" href="../classrooms/EH1360"  alt="Link to data room 1360" title="Link to data room 1360" />
  <area shape="rect" coords="24,390,54,418" href="ehb.html"  alt="go to the basement" title="go to the basement" />
  <area shape="rect" coords="308,714,357,770" href="../classrooms/EH1096"  alt="Link to data room 1096" title="Link to data room 1096" />
  <area shape="rect" coords="144,685,205,783" href="../classrooms/EH1084"  alt="Link to data room 1084" title="Link to data room 1084" />
  <area shape="rect" coords="19,421,64,445" href="eh3.html"  alt="go to the 3rd floor" title="go to the 3rd floor" />
  <area shape="rect" coords="146,561,208,656" href="../classrooms/EH1068"  alt="Link to data room 1068" title="Link to data room 1068" />
  <area shape="rect" coords="387,523,447,598" href="../classrooms/EH1373"  alt="Link to data room 1372" title="Link to data room 1372" />
  <area shape="rect" coords="68,420,116,444" href="eh4.html"  alt="go to the 4th floor" title="go to the 4th floor" />
  <area shape="rect" coords="18,461,139,515" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="69,390,114,418" href="eh2.html"  alt="go to the 2nd floor" title="go to the 2nd floor" />
  <area shape="poly" coords="322,205,370,171,415,172,415,320,372,322,323,288" href="../classrooms/EH1324"  alt="Link to data room 1324" title="Link to data room 1324" />
</map>
</body>
</html>
