<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Hall - floor 2</title>
</head>
<body>
<img src="/maps/eh2.jpg" alt="Image East Hall - 2nd floor" width="735" height="800" border="0" hspace="20" vspace="20" usemap="#eh2" />
<map name="eh2" id="eh2">
  <area shape="rect" coords="76,338,108,361" href="eh3.html"  alt="go to the 3rd floor" title="go to the 3rd floor" />
  <area shape="rect" coords="40,338,72,361" href="eh1.html"  alt="go to the 1st floor" title="go to the 1st floor" />
  <area shape="rect" coords="16,340,36,361" href="ehb.html"  alt="go to the basement" title="go to the basement" />
  <area shape="rect" coords="670,717,724,765" href="../classrooms/EH2866"  alt="Link to data room 2866" title="Link to data room 2866" />
  <area shape="rect" coords="113,338,148,361" href="eh4.html"  alt="go to the 4th floor" title="go to the 4th floor" />
  <area shape="rect" coords="6,373,147,397" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="439,183,498,322" href="../classrooms/227" alt="Link to data room 1324" title="Link to data room 1324" />
</map>
</body>
</html>
