<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Hall - floor 3</title>
</head>
<body>
<img src="/maps/eh3.jpg" alt="Image East Hall - 3rd floor" width="593" height="800" border="0" hspace="20" vspace="20" usemap="#eh3" />
<map name="eh3" id="eh3">
  <area shape="rect" coords="103,173,169,238" href="../classrooms/EH3021" alt="Link to data room 3021" title="Link to data room 3021" />
  <area shape="rect" coords="19,717,74,798" href="../classrooms/EH3088" alt="Link to data room 3088" title="Link to data room 3088" />
  <area shape="rect" coords="170,717,226,770" href="../classrooms/EH3096" alt="Link to data room 3096" title="Link to data room 3096" />
  <area shape="rect" coords="404,549,436,572" href="eh2.html"  alt="go to the 2nd floor" title="go to the 2nd floor" />
  <area shape="rect" coords="365,549,397,572" href="eh1.html"  alt="go to the 1st floor" title="go to the 1st floor" />
  <area shape="rect" coords="335,549,355,572" href="ehb.html"  alt="go to the basement" title="go to the basement" />
  <area shape="rect" coords="448,549,479,572" href="eh4.html"  alt="go to the 4th floor" title="go to the 4th floor" />
  <area shape="rect" coords="332,583,473,607" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="525,720,579,770" href="../classrooms/EH3866" alt="Link to data room 3866" title="Link to data room 3866" />
</map>
</body>
</html>
