<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Hall - floor 4</title>
</head>
<body>
<img src="/maps/eh4.jpg" alt="Image East Hall - 4th floor" width="618" height="800" hspace="20" vspace="20" border="0" usemap="#eh4"  />
<map name="eh4" id="eh4">
  <area shape="rect" coords="253,320,319,385" href="../classrooms/EH4437" alt="Link to data room 4437" title="Link to data room 4437" />
  <area shape="rect" coords="27,712,87,792" href="../classrooms/EH4088" alt="Link to data room 4088" title="Link to data room 4088" />
  <area shape="rect" coords="178,707,238,766" href="../classrooms/EH4096" alt="Link to data room 4096" title="Link to data room 4096" />
  <area shape="rect" coords="463,539,494,562" href="eh3.html"  alt="go to the 3rd floor" title="go to the 3rd floor" />
  <area shape="rect" coords="419,539,451,562" href="eh2.html"  alt="go to the 2nd floor" title="go to the 2nd floor" />
  <area shape="rect" coords="352,539,372,562" href="ehb.html"  alt="go to the basement" title="go to the basement" />
  <area shape="rect" coords="347,573,488,597" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="380,539,412,562" href="eh1.html"  alt="go to the 1st floor" title="go to the 1st floor" />
</map>
</body>
</html>
