<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Hall - Basement</title>
</head>
<body>
<img src="/maps/ehb.jpg" alt="Image East Hall - Basement" width="662" height="800" hspace="40" vspace="20" border="0" usemap="#ehb" />
<map name="ehb" id="ehb">
  <area shape="rect" coords="495,9,529,37" href="denn1.html"  alt="go Dennison" title="go to Dennison" />
  <area shape="rect" coords="22,427,54,450" href="eh1.html"  alt="go to the 1st floor" />
  <area shape="rect" coords="72,428,113,450" href="eh2.html"  alt="go to the 2nd floor" title="go to the 2nd floor" />
  <area shape="rect" coords="22,454,54,477" href="eh3.html"  alt="go to the 3rd floor" title="go to the 3rd floor" />
  <area shape="rect" coords="70,454,105,477" href="eh4.html"  alt="go to the 4th floor" title="go to the 4th floor" />
  <area shape="rect" coords="19,488,135,535" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="441,690,547,770" onmouseover="color=ff,ff,99" href="../classrooms/EHB844"  alt="Link to data room B844" title="Link to data room B844" />
</map>
</body>
</html>
