<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Quad - first floor</title>
</head>
<body>
<img src="/maps/eq1.jpg" alt="Image of the 1st floor East Quad" width="557" height="1000" border="0" usemap="#eq1" />
<map name="eq1" id="eq1">
  <area shape="rect" coords="211,253,375,277" href="index.html" alt="to the campus map" title="to the campus map" />
  <area shape="rect" coords="317,226,349,245" href="eq2.html" alt="to the 2nd floor detail" title="to the 2nd floor detail" />
  <area shape="rect" coords="216,227,303,247" href="eqb.html" alt="to the basement" title="to the basement" />
  <area shape="rect" coords="434,298,478,355" href="../classrooms/EQT139" alt="link to photos room 139 Tyler"  title="link to photos room 139 Tyler"/>
  <area shape="rect" coords="500,84,539,148" href="../classrooms/EQT122" alt="link to photos room 122 Tyler"  title="link to photos room 122 Tyler"/>
  <area shape="rect" coords="241,475,279,522" href="../classrooms/EQ164" alt="link to photos room 164 East Quad"  title="link to photos room 164 East Quad"/>
  <area shape="rect" coords="20,706,136,805" href="../classrooms/EQ126" alt="link to photos room 126 East Quad"  title="link to photos room 126 East Quad"/>
  <area shape="rect" coords="172,712,236,804" href="../classrooms/EQ124" alt="link to photos room 124 East Quad"  title="link to photos room 124 East Quad"/>
  <area shape="rect" coords="239,767,316,806" href="../classrooms/EQ122" alt="link to photos room 122 East Quad"  title="link to photos room 122 East Quad"/>
  <area shape="rect" coords="499,154,546,381" href="http://www.rc.lsa.umich.edu/" target="blank" alt="link to the RC home page"  title="link to the RC home page"/>
  <area shape="rect" coords="437,174,478,295" href="http://www.rc.lsa.umich.edu/" target="blank" alt="link to the RC home page"  title="link to the RC home page"/>
</map>
</body>
</html>
