<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Quad - second floor detail</title>
</head>
<body>
<img src="/maps/eq2.jpg" alt="Image detail of the 2nd floor East Quad" width="800" height="500" border="0" usemap="#eq2" />
<map name="eq2" id="eq2">
  <area shape="rect" coords="23,444,259,479" href="index.html" alt="to the campus map" title="to the campus map" />
  <area shape="rect" coords="216,406,316,435" href="eq1.html" alt="to the 1st floor" title="to the 1st floor" />
  <area shape="rect" coords="66,407,194,434" href="eqb.html" alt="to the basement" title="to the basement" />
  <area shape="rect" coords="676,148,762,272" href="../classrooms/EQT220" alt="link to photos room 220 Tyler"  title="link to photos room 220 Tyler"/>
  <area shape="rect" coords="676,278,771,399" href="../classrooms/EQT224" alt="link to photos room 224 Tyler"  title="link to photos room 224 Tyler"/>
</map>
</body>
</html>
