<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>East Quad - Basement</title>
</head>
<body>
<img src="/maps/eqb.jpg" alt="Image East Quad basement" width="711" height="800" border="0" usemap="#eqb" />
<map name="eqb" id="eqb">
  <area shape="rect" coords="305,308,442,328" href="index.html" alt="to the campus map" title="to the campus map" />
  <area shape="rect" coords="367,284,395,302" href="eq2.html" alt="to the 2nd floor detail" title="to the 2nd floor detail" />
  <area shape="rect" coords="327,284,356,302" href="eq1.html" alt="to the 1st floor" title="to the 1st floor" />
  <area shape="rect" coords="406,29,460,74" href="../classrooms/EQ3" alt="link to photos room 3 Tyler"  title="link to photos room 3 Tyler"/>
  <area shape="rect" coords="405,97,459,142" href="../classrooms/EQ2" alt="link to photos room 2 Tyler"  title="link to photos room 2 Tyler"/>
  <area shape="rect" coords="518,97,572,142" href="../classrooms/EQ12" alt="link to photos room 12 Tyler"  title="link to photos room 12 Tyler"/>
  <area shape="rect" coords="632,32,672,102" href="../classrooms/EQ17" alt="link to photos room 17 Tyler"  title="link to photos room 17 Tyler"/>
  <area shape="rect" coords="550,304,629,377" href="../classrooms/EQ24" alt="link to photos room 24-26 Tyler"  title="link to photos room 24-26 Tyler"/>
  <area shape="rect" coords="550,380,629,444" href="../classrooms/EQ28" alt="link to photos room 28 Tyler"  title="link to photos room 28 Tyler"/>
  <area shape="rect" coords="630,519,673,598" href="../classrooms/EQ35" alt="link to photos room 35 Tyler"  title="link to photos room 35 Tyler"/>
  <area shape="rect" coords="114,145,171,200" href="../classrooms/EQ70" alt="link to photos room 70 Green"  title="link to photos room 70 Green"/>
  <area shape="rect" coords="110,229,172,304" href="../classrooms/EQ68" alt="link to photos room 68 Green"  title="link to photos room 68 Green"/>
  <area shape="rect" coords="107,309,169,379" href="../classrooms/EQ66" alt="link to photos room 66 Green"  title="link to photos room 66 Green"/>
  <area shape="rect" coords="105,384,167,454" href="../classrooms/EQ64" alt="link to photos room 64 Green"  title="link to photos room 64 Green"/>
  <area shape="rect" coords="358,517,514,570" href="../classrooms/EQ52" alt="link to photos room 52 Green"  title="link to photos room 52 Green"/>
</map>
</body>
</html>
