<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Haven Hall - 2nd floor</title>
</head>
<body>
<img src="/maps/hh2.jpg" alt="Image Haven Hall 2nd floor" width="358" height="900" hspace="50" border="0" usemap="#hh2" />
<map name="hh2" id="hh2">
  <area shape="rect" coords="7,227,58,248" href="hhg.html" alt="to ground floor" title="to ground floor" />
  <area shape="rect" coords="133,654,206,683" href="ah2.html#bottom" alt="to Tisch-Angell 2nd floor" title="to Tisch-Angell 2nd floor" />
  <area shape="rect" coords="20,252,141,270" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="226,6,277,49" href="mh2.html" alt="to 2nd floor Mason" title="to 2nd floor Mason" />
  <area shape="rect" coords="127,228,153,246" href="hh7.html" alt="to 7th floor" title="to 7th floor" />
  <area shape="rect" coords="94,227,120,245" href="hh5.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="61,229,87,247" href="hh3.html" alt="to 3rd floor" title="to 3rd floor" />
</map>
</body>
</html>
