<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Haven Hall - 3rd floor</title>
</head>
<body>
<img src="/maps/hh3.jpg" alt="Image 3rd floor Haven" width="350" height="900" hspace="50" border="0" usemap="#hh3" />
<map name="hh3" id="hh3">
  <area shape="rect" coords="16,403,81,423" href="hh2.html" alt="to 2nd floor" title="to 2nd floor" />
  <area shape="rect" coords="241,63,318,97" href="../classrooms/HH3505" alt="link to data room 3505" title="link to data room 3505" />
  <area shape="rect" coords="14,217,135,235" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="215,9,266,52" href="mh3.html" alt="to Mason" title="to Mason" />
  <area shape="rect" coords="100,191,126,209" href="hh7.html" alt="to 7th floor" title="to 7th floor" />
  <area shape="rect" coords="66,193,92,211" href="hh5.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="7,192,58,213" href="hhg.html" alt="to ground floor" title="to ground floor" />
</map>
</body>
</html>
