<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Haven Hall - 5th floor</title>
</head>
<body>
<img src="/maps/hh5.jpg" alt="image 5th floor Haven" width="348" height="900" border="0" hspace="50" usemap="#hh5" />
<map name="hh5" id="hh5">
  <area shape="rect" coords="18,378,83,398" href="hh2.html" alt="to 2nd floor" title="to 2nd floor" />
  <area shape="rect" coords="259,211,318,294" href="../classrooms/HH5521" alt="link to data room 5521" title="link to data room 5521" />
  <area shape="rect" coords="12,264,133,282" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="100,239,126,257" href="hh7.html" alt="to 7th floor" title="to 7th floor" />
  <area shape="rect" coords="65,238,91,256" href="hh3.html" alt="to 3rd floor" title="to 3rd floor" />
  <area shape="rect" coords="6,237,57,258" href="hhg.html" alt="to ground floor" title="to ground floor" />
</map>
</body>
</html>
