<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Haven Hall - 7th floor</title>
</head>
<body>
<img src="/maps/hh7.jpg" alt="image 7th floor Haven" width="395" height="700" hspace="50" border="0" usemap="#hh7" />
<map name="hh7" id="hh7">
  <area shape="rect" coords="18,398,83,418" href="hh2.html" alt="to 2nd floor" title="to 2nd floor" />
  <area shape="rect" coords="284,9,365,82" href="../classrooms/HH7603" alt="link to data room 7603" title="link to data room 7603" />
  <area shape="rect" coords="9,315,137,335" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="111,289,137,307" href="hh5.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="75,290,101,308" href="hh3.html" alt="to 3rd floor" title="to 3rd floor" />
  <area shape="rect" coords="10,288,61,309" href="hhg.html" alt="to ground floor" title="to ground floor" />
</map>
</body>
</html>
