<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Haven Hall - Ground</title>
</head>
<body>
<img src="/maps/hhg.jpg" alt="Image ground floor Haven" width="381" height="900" hspace="50" border="0" usemap="#hhg" />
<map name="hhg" id="hhg">
  <area shape="rect" coords="25,324,90,344" href="hh2.html" alt="to 2nd floor" title="to 2nd floor" />
  <area shape="rect" coords="174,543,286,601" href="../classrooms/HHG634" alt="to data for room G634" title="to data for room G634" />
  <area shape="rect" coords="145,45,198,80" href="ah.html" alt="to Angell" title="to Angell" />
  <area shape="rect" coords="18,248,148,267" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="220,2,262,34" href="mhg.html" alt="to Mason" title="to Mason" />
  <area shape="rect" coords="100,222,126,240" href="hh7.html" alt="to 7th floor" title="to 7th floor" />
  <area shape="rect" coords="61,222,87,240" href="hh5.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="22,221,48,239" href="hh3.html" alt="to 3rd floor" title="to 3rd floor" />
</map>
</body>
</html>
