<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lorch Hall - ground floor</title>
</head>
<body>
<img src="/maps/lorch1.jpg" alt="Image Lorch - floor 1" width="800" height="605" border="0" usemap="#lorch1" />
<map name="lorch1" id="lorch1">
  <area shape="rect" coords="377,376,409,400" href="lorch3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="426,377,458,401" href="lorch4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="232,419,418,441" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="633,494,704,557" href="../classrooms/LORCH171"  alt="Link to data room 171" title="Link to data room 171" />
  <area shape="rect" coords="709,470,779,555" href="../classrooms/LORCH173"  alt="Link to data room 173" title="Link to data room 173" />
  <area shape="rect" coords="638,160,763,450" href="../classrooms/LORCH140"  alt="Link to data room 140" title="Link to data room 140" />
  <area shape="rect" coords="723,54,795,151" href="../classrooms/LORCH142"  alt="Link to data room 142" title="Link to data room 142" />
</map>
</body>
</html>
