<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lorch Hall - 4th floor</title>
</head>
<body>
<img src="/maps/lorch4.jpg" alt="Image Lorch - floor 4" width="800" height="576" border="0" usemap="#lorch4" />
<map name="lorch4" id="lorch4">
  <area shape="rect" coords="418,376,450,400" href="lorch3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="368,377,400,401" href="lorch1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="220,420,406,442" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="630,500,703,563" href="../classrooms/LORCH471"  alt="Link to data room 471" title="Link to data room 471" />
</map>
</body>
</html>
