<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lorch Hall - 3rd floor</title>
</head>
<body>
<img src="/maps/lorch3.jpg" alt="Image Lorch - floor 3" width="800" height="588" border="0" usemap="#lorch3" />
<map name="lorch3" id="lorch3">
  <area shape="rect" coords="422,385,454,409" href="lorch4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="375,384,407,408" href="lorch1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="232,426,418,448" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="702,483,781,569" href="../classrooms/LORCH373"  alt="Link to data room 373" title="Link to data room 373" />
</map>
</body>
</html>
