<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LSA Building - 4th floor</title>
</head>
<body>
<img src="/maps/lsa4.jpg" alt="Image LSA - floor 4" width="379" height="800" border="0" usemap="#lsa4" />
<map name="lsa4" id="lsa4">
  <area shape="rect" coords="64,85,128,137" href="../classrooms/LSA4155"  alt="Link to data room 4155" title="Link to data room 4155" />
  <area shape="rect" coords="160,423,193,442" href="lsa3.html" alt="go to the 3rd floor" title="go to the 3rd floor" />
  <area shape="rect" coords="39,450,188,476" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="288,10,344,91" href="../classrooms/LSA4128"  alt="Link to data room 4128" title="Link to data room 4128" />
</map>
</body>
</html>
