<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LSA Building - 3rd floor</title>
</head>
<body>
<img src="/maps/lsa3.jpg" alt="Image LSA - floor 3" width="377" height="800" border="0" usemap="#lsa3" />
<map name="lsa3" id="lsa3">
  <area shape="rect" coords="68,10,138,63" href="../classrooms/LSA3156"  alt="Link to data room 3156" title="Link to data room 3156" />
  <area shape="rect" coords="157,398,190,417" href="lsa4.html" alt="go to the 4th floor" title="go to the 4th floor" />
  <area shape="rect" coords="8,719,138,791" href="../classrooms/LSA3254"  alt="Link to data room 3254" title="Link to data room 3254" />
  <area shape="rect" coords="35,425,184,451" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="258,718,342,793" href="../classrooms/LSA3242"  alt="Link to data room 3242" title="Link to data room 3242" />
</map>
</body>
</html>
