<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mason Hall - 1st floor</title>
</head>
<body>
<img src="/maps/mh1.jpg" alt="Image Mason - floor 1" width="662" height="699" border="0" usemap="#mh1" />
<map name="mh1" id="mh1">
  <area shape="rect" coords="76,171,140,215" href="../classrooms/MH1303"  alt="Link to data room 1303" title="Link to data room 1303" />
  <area shape="rect" coords="595,560,658,644" href="../classrooms/MH1469"  alt="Link to data room 1469" title="Link to data room 1469" />
  <area shape="rect" coords="594,430,657,557" href="../classrooms/MH1449"  alt="Link to data room 1449" title="Link to data room 1449" />
  <area shape="rect" coords="489,514,554,600" href="../classrooms/MH1460"  alt="Link to data room 1460" title="Link to data room 1460" />
  <area shape="rect" coords="486,428,553,514" href="../classrooms/MH1448"  alt="Link to data room 1448" title="Link to data room 1448" />
  <area shape="rect" coords="488,345,553,427" href="../classrooms/MH1436"  alt="Link to data room 1436" title="Link to data room 1436" />
  <area shape="rect" coords="594,344,657,428" href="../classrooms/MH1437"  alt="Link to data room 1437" title="Link to data room 1437" />
  <area shape="rect" coords="595,217,657,343" href="../classrooms/MH1427"  alt="Link to data room 1427" title="Link to data room 1427" />
  <area shape="rect" coords="595,89,657,215" href="../classrooms/MH1401"  alt="Link to data room 1401" title="Link to data room 1401" />
  <area shape="rect" coords="316,155,400,217" href="../classrooms/MH1339"  alt="Link to data room 1339" title="Link to data room 1339" />
  <area shape="rect" coords="248,61,283,81" href="mh3.html"  alt="to third floor" title="to third floor" />
  <area shape="rect" coords="207,61,242,81" href="mh2.html"  alt="to second floor" title="to second floor" />
  <area shape="rect" coords="175,62,198,82" href="mhg.html"  alt="to ground floor" title="to ground floor" />
  <area shape="rect" coords="10,92,181,120" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="poly" coords="404,154,403,196,437,196,437,216,483,214,482,154" href="../classrooms/MH1359"  alt="Link to data room 1359" title="Link to data room 1359" />
</map>
</body>
</html>
