<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mason Hall - 3rd floor</title>
</head>
<body>
<img src="/maps/mh3.jpg" alt="Image Mason - floor 3" width="626" height="685" border="0" usemap="#mh3" />
<map name="mh3" id="mh3">
  <area shape="rect" coords="518,631,558,680" href="hh3.html"  alt="To Haven Hall" title="To Haven Hall" />
  <area shape="rect" coords="9,215,49,264" href="ah3.html"  alt="To Angell Hall" title="To Angell Hall" />
  <area shape="rect" coords="556,536,623,648" href="../classrooms/MH3463"  alt="Link to data room 3463" title="Link to data room 3463" />
  <area shape="rect" coords="453,522,521,602" href="../classrooms/MH3460"  alt="Link to data room 3460" title="Link to data room 3460" />
  <area shape="rect" coords="559,462,623,534" href="../classrooms/MH3451"  alt="Link to data room 3451" title="Link to data room 3451" />
  <area shape="rect" coords="453,395,520,433" href="../classrooms/MH3440"  alt="Link to data room 3440" title="Link to data room 3440" />
  <area shape="rect" coords="453,436,521,516" href="../classrooms/MH3448"  alt="Link to data room 3448" title="Link to data room 3448" />
  <area shape="rect" coords="557,352,624,460" href="../classrooms/MH3437"  alt="Link to data room 3437" title="Link to data room 3437" />
  <area shape="rect" coords="558,265,623,345" href="../classrooms/MH3427"  alt="Link to data room 3427" title="Link to data room 3427" />
  <area shape="rect" coords="558,181,623,261" href="../classrooms/MH3411"  alt="Link to data room 3411" title="Link to data room 3411" />
  <area shape="rect" coords="558,96,623,176" href="../classrooms/MH3401"  alt="Link to data room 3401" title="Link to data room 3401" />
  <area shape="rect" coords="407,156,448,220" href="../classrooms/MH3359"  alt="Link to data room 3359" title="Link to data room 3359"/>
  <area shape="rect" coords="367,260,450,328" href="../classrooms/MH3356"  alt="Link to data room 3356" title="Link to data room 3356" />
  <area shape="rect" coords="363,156,404,220" href="../classrooms/MH3353"  alt="Link to data room 3353" title="Link to data room 3353" />
  <area shape="rect" coords="276,156,360,221" href="../classrooms/MH3347"  alt="Link to data room 3347" title="Link to data room 3347" />
  <area shape="rect" coords="195,156,274,222" href="../classrooms/MH3333"  alt="Link to data room 3333" title="Link to data room 3333" />
  <area shape="rect" coords="238,258,364,330" href="../classrooms/MH3330"  alt="Link to data room 3330" title="Link to data room 3330" />
  <area shape="rect" coords="67,258,150,329" href="../classrooms/MH3302"  alt="Link to data room 3302" title="Link to data room 3302" />
  <area shape="rect" coords="152,158,192,223" href="../classrooms/MH3315"  alt="Link to data room 3315" title="Link to data room 3315" />
  <area shape="rect" coords="152,258,235,329" href="../classrooms/MH3314"  alt="Link to data room 3314" title="Link to data room 3314" />
  <area shape="rect" coords="267,71,302,91" href="mh2.html"  alt="to second floor" title="to second floor" />
  <area shape="rect" coords="230,74,260,92" href="mh1.html"  alt="to first floor" title="to first floor" />
  <area shape="rect" coords="26,101,197,129" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="200,72,223,92" href="mhg.html"  alt="to ground floor" title="to ground floor" />
</map>
</body>
</html>
