<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mason Hall - ground floor</title>
</head>
<body>
<img src="/maps/mhg.jpg" alt="Image Mason - ground" width="622" height="707" border="0" usemap="#mhg" />
<map name="mhg" id="mhg">
  <area shape="rect" coords="501,642,541,704" href="hhg.html" alt="link to Haven Hall" title="link to Haven Hall" />
  <area shape="rect" coords="547,78,612,120" href="../classrooms/MHG463"  alt="Link to data room G421B" title="Link to data room G421B" />
  <area shape="rect" coords="449,640,489,702" href="ah.html" alt="link to Angell Hall" title="link to Angell Hall" />
  <area shape="rect" coords="546,508,611,592" href="../classrooms/MHG463"  alt="Link to data room G463" title="Link to data room G463" />
  <area shape="rect" coords="547,421,612,505" href="../classrooms/MHG449"  alt="Link to data room G449" title="Link to data room G449" />
  <area shape="rect" coords="547,336,612,420" href="../classrooms/MHG437"  alt="Link to data room G437" title="Link to data room G437" />
  <area shape="rect" coords="281,44,316,64" href="mh3.html"  alt="to third floor" title="to third floor" />
  <area shape="rect" coords="200,45,230,63" href="mh1.html"  alt="to first floor" title="to first floor" />
  <area shape="rect" coords="237,43,275,63" href="mh2.html"  alt="to second floor" title="to second floor" />
  <area shape="rect" coords="23,71,194,99" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="1,196,41,258" href="ah.html" alt="link to Angell Hall" title="link to Angell Hall" />
</map>
</body>
</html>
