<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MLB - 3rd floor</title>
</head>
<body>
<img src="/maps/mlb3.jpg" alt="Image MLB - floor 3" width="495" height="800" hspace = "20" border="0" usemap="#mlb3" />
<map name="mlb3" id="mlb3"><area shape="rect" coords="3,491,44,736" href="http://www.lsa.umich.edu/slavic" target="blank" alt="link opens dept. homepage" title="link opens dept. homepage"/><area shape="rect" coords="452,490,493,735" href="http://www.lsa.umich.edu/german" target="blank" alt="link opens dept. homepage" title="link opens dept. homepage"/>
  <area shape="rect" coords="309,66,370,106" href="../classrooms/MLB3205"  alt="Link to data room 3205" title="Link to data room 3205" />
  <area shape="rect" coords="126,67,186,106" href="../classrooms/MLB3217"  alt="Link to data room 3217" title="Link to data room 3217" />
  <area shape="rect" coords="66,369,124,406" href="../classrooms/MLB3301"  alt="Link to data room 3301" title="Link to data room 3301" />
  <area shape="rect" coords="106,430,155,494" href="../classrooms/MLB3304" alt="Link to data room 3304" title="Link to data room 3304" />
  <area shape="rect" coords="309,430,337,493" href="../classrooms/MLB3310" alt="Link to data room 3310" title="Link to data room 3310" />
  <area shape="rect" coords="338,431,389,491" href="../classrooms/MLB3312" alt="Link to data room 3312" title="Link to data room 3312" />
  <area shape="rect" coords="370,368,427,407" href="../classrooms/MLB3319"  alt="Link to data room 3319" title="Link to data room 3319" />
  <area shape="rect" coords="306,263,349,295" href="mlb4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="235,264,291,295" href="mlb2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="181,263,225,295" href="mlb1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="139,263,168,295" href="mlbb.html"  alt="Link to basement" title="Link to basement" />
  <area shape="rect" coords="112,318,365,349" href="index.html"  alt="Link to campus map" title="Link to campus map" />
</map>
</body>
</html>
