<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MLB - 1st floor</title>
</head>
<body>
<img src="/maps/mlb1.jpg" alt="Image MLB - ground floor" width="637" height="800" border="0" usemap="#mlb1" />
<map name="mlb1" id="mlb1">
  <area shape="poly" coords="333,90,257,160,255,344,539,345,537,161,457,90" href="../classrooms/MLB1200"  alt="Link to data room 1200" title="Link to data room 1200" />
  <area shape="poly" coords="400,379,399,451,427,472,537,472,538,356,424,357" href="../classrooms/MLB1420"  alt="Link to data room 1420" title="Link to data room 1420" />
  <area shape="poly" coords="255,355,254,473,368,473,389,450,388,378,365,355" href="../classrooms/MLB1220"  alt="Link to data room 1220" title="Link to data room 1220" />
  <area shape="rect" coords="84,384,133,416" href="mlb4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="24,383,73,415" href="mlb3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="64,345,123,377" href="mlb2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="17,458,127,563" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="22,345,49,376" href="mlbb.html"  alt="Link to basement" title="Link to basement" />
  <area shape="poly" coords="254,483,254,602,332,675,458,674,538,604,538,483" href="../classrooms/MLB1400"  alt="Link to data room 1400" title="Link to data room 1400" />
</map>
</body>
</html>
