<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MLB - 4th floor</title>
</head>
<body>
<img src="/maps/mlb4.jpg" alt="Image MLB - floor 4" width="496" height="800" hspace = "20" border="0" usemap="#mlb4"  />
<map name="mlb4" id="mlb4">
  <area shape="rect" coords="155,432,186,493" href="../classrooms/MLB4306"  alt="Link to data room 4306" title="Link to data room 4306" />
  <area shape="rect" coords="66,431,104,491" href="../classrooms/MLB4027"  alt="Link to data room 4027" title="Link to data room 4027" />
  <area shape="rect" coords="220,369,278,407" href="../classrooms/MLB4309" alt="Link to data room 4309" title="Link to data room 4309" />
  <area shape="rect" coords="381,371,430,407" href="../classrooms/MLB4317"  alt="Link to data room 4317" title="Link to data room 4317" />
  <area shape="rect" coords="127,67,185,107" href="../classrooms/MLB4217"  alt="Link to data room 4217" title="Link to data room 4217" />
  <area shape="rect" coords="306,272,350,298" href="mlb3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="236,270,291,298" href="mlb2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="177,272,227,299" href="mlb1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="135,269,168,301" href="mlbb.html"  alt="Link to basement" title="Link to basement" />
  <area shape="rect" coords="117,326,374,358" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="453,462,493,735" href="http://www.lsa.umich.edu/rll/" target="blank" alt="link opens dept. homepage" title="link opens dept. homepage"/>
</map>
</body>
</html>
