<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MLB - 2nd floor</title>
</head>
<body>
<img src="/maps/mlb2.jpg" alt="Image MLB - floor 2" width="618" height="800" hspace="20" border="0" usemap="#mlb2" />
<map name="mlb2" id="mlb2">
  <area shape="rect" coords="14,339,41,370" href="mlbb.html"  alt="Link to basement" title="Link to basement" />
  <area shape="rect" coords="69,338,115,369" href="mlb1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="rect" coords="7,375,56,407" href="mlb3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="65,375,114,407" href="mlb4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="rect" coords="1,449,106,551" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="poly" coords="160,754,160,300,281,295,283,125,497,127,502,565,336,565,334,672,232,679" href="http://www.lsa.umich.edu/iss/mediacenter" target="blank" alt="to the LSA-ISS:MC web page" title="to the LSA-ISS:MC web page" />
  <area shape="poly" coords="197,4,317,4,318,78,256,78,253,62" href="../classrooms/MLB2212"  alt="Link to data room 2212 closed during reno" title="Link to data room 2212" />
  <area shape="poly" coords="456,4,576,4,522,62,522,78,456,76" href="../classrooms/MLB2202"  alt="2202 closed during reno" title="2202 closed during reno" />
  <area shape="poly" coords="546,97,557,97,614,40,612,229,548,229" href="../classrooms/MLB2114"  alt="2114 closed during reno" title="2114 closed during reno" />
  <area shape="rect" coords="546,235,615,297" href="../classrooms/MLB2112"  alt="2112 closed during reno" title="2112 closed during reno" />
  <area shape="rect" coords="545,301,614,363" href="../classrooms/MLB2110"  alt="2110 closed during reno" title="2110 closed during reno" />
  <area shape="rect" coords="545,367,614,429" href="../classrooms/MLB2108"  alt="2108 closed during reno" title="2108 closed during reno" />
  <area shape="rect" coords="545,437,614,499" href="../classrooms/MLB2106"  alt="2106 closed during reno" title="2106 closed during reno" />
  <area shape="rect" coords="544,503,613,565" href="../classrooms/MLB2104"  alt="2104 closed during reno" title="2104 closed during reno" />
  <area shape="rect" coords="346,571,500,676" href="../classrooms/MLB2011"  alt="2011 closed during reno" title="2011 closed during reno" />
  <area shape="poly" coords="519,722,520,735,577,794,457,795,457,722" href="../classrooms/MLB2412"  alt="2412 closed during reno" title="2412 closed during reno" />
  <area shape="poly" coords="254,721,316,721,316,793,197,793,255,736" href="../classrooms/MLB2402"  alt="Link to data room 2402" title="Link to data room 2402" />
</map>
</body>
</html>
