<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MLB - basement</title>
</head>
<body>
<img src="/maps/mlbb.jpg" alt="image mlb - basement" width="674" height="800" hspace = "20" border="0" usemap="#mlbb" />
<map name="mlbb" id="mlbb">
  <area shape="poly" coords="501,634,501,594,581,594,583,642,546,678" href="../classrooms/MLBB135"  alt="Link to data room B135" title="Link to data room B135" />
  <area shape="rect" coords="3,342,42,373" href="mlb1.html"  alt="Link to 1st floor" title="Link to 1st floor" />
  <area shape="poly" coords="428,741,428,670,467,670,509,712,484,741" href="../classrooms/MLBB134"  alt="Link to data room B134" title="Link to data room B134" />
  <area shape="poly" coords="213,711,254,669,298,669,298,774,276,774" href="../classrooms/MLBB124"  alt="Link to data room B124" title="Link to data room B124" />
  <area shape="rect" coords="49,342,108,374" href="mlb2.html"  alt="Link to 2nd floor" title="Link to 2nd floor" />
  <area shape="rect" coords="0,376,49,408" href="mlb3.html"  alt="Link to 3rd floor" title="Link to 3rd floor" />
  <area shape="rect" coords="55,377,104,409" href="mlb4.html"  alt="Link to 4th floor" title="Link to 4th floor" />
  <area shape="poly" coords="402,193,404,113,457,113,465,122,467,193" href="../classrooms/MLBB101"  alt="Link to data room B101" title="Link to data room B101" />
  <area shape="rect" coords="341,110,399,194" href="../classrooms/MLBB103"  alt="Link to data room B103" title="Link to data room B103" />
  <area shape="rect" coords="255,158,337,216" href="../classrooms/MLBB109"  alt="Link to data room B109" title="Link to data room B109" />
  <area shape="rect" coords="255,220,337,278" href="../classrooms/MLBB111"  alt="Link to data room B111" title="Link to data room B111" />
  <area shape="rect" coords="254,282,336,340" href="../classrooms/MLBB113"  alt="Link to data room B113" title="Link to data room B113" />
  <area shape="rect" coords="141,345,222,465" href="../classrooms/MLBB116"  alt="Link to data room B116" title="Link to data room B116" />
  <area shape="rect" coords="254,344,336,402" href="../classrooms/MLBB115A"  alt="Link to data room B115a" title="Link to data room B115a" />
  <area shape="rect" coords="255,407,337,465" href="../classrooms/MLBB115B"  alt="Link to data room B115b" title="Link to data room B115b" />
  <area shape="rect" coords="140,470,222,528" href="../classrooms/MLBB118"  alt="Link to data room B118" title="Link to data room B118" />
  <area shape="rect" coords="256,471,338,529" href="../classrooms/MLBB117"  alt="Link to data room B117" title="Link to data room B117" />
  <area shape="rect" coords="140,531,222,589" href="../classrooms/MLBB120"  alt="Link to data room B120" title="Link to data room B120" />
  <area shape="rect" coords="503,484,583,587" href="../classrooms/MLBB137"  alt="Link to data room B137" title="Link to data room B137" />
  <area shape="poly" coords="139,643,140,594,211,593,213,642,176,678" href="../classrooms/MLBB122"  alt="Link to data room B122" title="Link to data room B122" />
  <area shape="rect" coords="-3,446,102,548" href="index.html"  alt="Link to campus map" title="Link to campus map" />
</map>
</body>
</html>
