<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>North Quad - 1st floor</title>
</head>
<body>
<img src="/maps/nq1.jpg" alt="Image North Quad - floor 1" width="1000" height="818" border="0" usemap="#nq1" />
<map name="nq1" id="nq1">
  <area shape="rect" coords="478,31,691,59" href="nq2.html"  alt="Link to the 2nd floor" title="Link the 2nd floor" />
  <area shape="rect" coords="753,30,966,58" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="401,85,482,165" href="../classrooms/NQ1245" alt="link to room 1245 data" title="link to room 1245 data" />
  <area shape="rect" coords="816,84,902,156" href="../classrooms/NQ1185" alt="link to room 1185 data" title="link to room 1185 data" />
  <area shape="rect" coords="905,89,986,183" href="../classrooms/NQ1175" alt="link to room 1175 data" title="link to room 1175 data" />
  <area shape="rect" coords="872,584,953,678" href="../classrooms/NQ1105" alt="link to room 1105 data" title="link to room 1105 data" />
  <area shape="rect" coords="787,583,868,677" href="../classrooms/NQ1110" alt="link to room 1110 data" title="link to room 1110 data" />
  <area shape="rect" coords="918,330,986,408" href="../classrooms/NQ1135" alt="link to room 1135 data" title="link to room 1135 data" />
  <area shape="rect" coords="920,245,985,327" href="../classrooms/NQ1155" alt="link to room 1155 data" title="link to room 1155 data" />
  <area shape="poly" coords="534,91,534,133,592,135,590,201,642,199,641,87" href="http://www.umich.edu/~langres/" target="blank"  alt="link to the LRC website" title="link to the LRC website" />
  <area shape="poly" coords="686,96,687,149,721,149,723,205,802,203,804,92" href="http://www.umich.edu/~langres/" target="blank"  alt="link to the LRC website" title="link to the LRC website" />
  <area shape="rect" coords="457,236,682,484" href="http://www.umich.edu/~langres/" target="blank" alt="link to the LRC website" title="link to the LRC website" />
  <area shape="rect" coords="806,242,914,380" href="http://www.northquad.umich.edu/" target="blank" alt="open the North Quad homepage" title="open the North Quad homepage"/>
  <area shape="rect" coords="32,227,228,603" href="http://www.lsa.umich.edu/sac/" target="blank" alt="link to the SAC website" title="link to the SAC website" />
  <area shape="rect" coords="265,220,362,615" href="http://www.si.umich.edu/" target="blank" alt="link to the SI website" title="link to the SI website" />
  <area shape="rect" coords="458,624,717,777" href="http://www.lsa.umich.edu/sweetland/" target="blank" alt="link to the Sweetland website" title="link to the Sweetland website" />
</map>
</body>
</html>
