<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>North Quad - 2nd floor</title>
</head>
<body>
<img src="/maps/nq2.jpg" alt="Image North Quad - floor 1" width="1000" height="747" border="0" usemap="#nq2" />
<map name="nq2" id="nq2">
  <area shape="rect" coords="407,301,604,331" href="nq1.html"  alt="Link to first floor" title="Link to first floor" />
  <area shape="rect" coords="387,336,629,366" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="259,254,377,307" href="../classrooms/NQ2275" alt="link to room 2275 data" title="link to room 2275 data" />
  <area shape="rect" coords="897,40,979,139" href="../classrooms/NQ2175" alt="link to room 2175 data" title="link to room 2175 data" />
  <area shape="rect" coords="927,269,978,346" href="../classrooms/NQ2135" alt="link to room 2135 data" title="link to room 2135 data" />
  <area shape="rect" coords="925,193,979,263" href="../classrooms/NQ2155" alt="link to room2155 data" title="link to room 2155 data" />
  <area shape="rect" coords="261,194,302,248" href="../classrooms/NQ2265" alt="link to room 2265 data" title="link to room 2265 data" />
  <area shape="rect" coords="809,188,920,348" href="http://www.northquad.umich.edu/" target="blank" alt="open the North Quad homepage" title="open the North Quad homepage"/>
  <area shape="poly" coords="33,473,29,739,137,738,139,642,94,642,92,469" href="http://www.northquad.umich.edu/" target="blank" alt="open the North Quad homepage" title="open the North Quad homepage"/>
</map>
</body>
</html>
