<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Randall Lab - 4th floor</title>
</head>
<body>
<img src="/maps/rand4.jpg" alt="Image Randall - floor 4" width="555" height="800" border="0" usemap="#rand4" />
<map name="rand4" id="rand4">
  <area shape="rect" coords="241,568,515,610" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="187,279,281,341" href="../classrooms/RAND4404"  alt="Link to data room 4404" title="Link to data room 4404" />
</map>
</body>
</html>
