<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SEB - ground floor</title>
</head>
<body>
<img src="/maps/seb1.jpg" alt="Image SEB - floor 1 (ground)" width="678" height="800" border="0" usemap="#seb1" longdesc="seb1.jpg" />
<map name="seb1" id="seb1">
  <area shape="rect" coords="250,362,426,384" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="poly" coords="40,214,42,96,73,68,111,69,135,100,135,214" href="../classrooms/SEB1202"  alt="Link to data room 1202" title="Link to data room 1202" />
</map>
</body>
</html>
