<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2nd floor, S. Thayer</title>
</head>

<body>
<img src="/maps/stb2.gif" alt="Image 2nd floor S. Thayer" width="800" height="635" border="0" usemap="#stb2" />
<map name="stb2" id="stb2">
  <area shape="rect" coords="359,54,386,79" href="stb4.html" alt="no classrooms 4th floor" title="no classrooms 4th floor" />
  <area shape="rect" coords="318,54,345,79" href="stb3.html" alt="to 3rd floor" title="to 3rd floor" />
  <area shape="rect" coords="253,54,300,78" href="stb1.html" alt="to 1st floor" title="to 1st floor" />
  <area shape="rect" coords="505,54,726,80" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="397,54,424,79" href="stb5.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="438,54,465,79" href="stb6.html" alt="to 6th floor" title="to 6th floor" />
<area shape="poly" coords="125,553,169,553,168,610,178,619,463,621,465,472,319,472,318,496,205,497,204,475,171,475,171,497,155,497,155,515,127,516" href="../classrooms/STB2022" alt="to data room 2022" title="to data room 2022" />
</map>
</body>
</html>
