<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>3rd floor, S. Thayer</title>
</head>
<body>
<img src="/maps/stb3.gif" alt="3rd floor S. Thayer" width="800" height="634" border="0" usemap="#stb3" />
<map name="stb3" id="stb3">
  <area shape="rect" coords="631,359,751,491" href="../classrooms/STB3000" alt="to data room 3000" title="to data room 3000" />
  <area shape="rect" coords="343,54,370,79" href="stb4.html" alt="no classrooms 4th floor" title="no classrooms 4th floor" />
  <area shape="rect" coords="237,54,284,78" href="stb1.html" alt="to 1st floor" title="to 1st floor" />
  <area shape="rect" coords="302,54,329,79" href="stb2.html" alt="to 3rd floor" title="to 3rd floor" />
  <area shape="rect" coords="489,54,710,80" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="422,54,449,79" href="stb6.html" alt="to 6th floor" title="6th floor" />
  <area shape="rect" coords="381,54,408,79" href="stb5.html" alt="to 5th floor" title="to 5th floor" />
</map>
</body>
</html>
