<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>5th floor, S. Thayer</title>
</head>
<body>
<img src="/maps/stb5.gif" alt="Image 5th floor S. Thayer" width="800" height="634" border="0" usemap="#stb5" />
<map name="stb5" id="stb5">
  <area shape="rect" coords="630,358,750,490" href="../classrooms/STB5000" alt="link to data room 5000" title="link to data room 5000" />
  <area shape="rect" coords="487,54,708,80" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="420,54,447,79" href="stb6.html" alt="to 6th floor" title="to 6th floor" />
  <area shape="rect" coords="380,54,407,79" href="stb4.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="341,54,368,79" href="stb3.html" alt="no classrooms 4th floor" title="no classrooms 4th floor" />
  <area shape="rect" coords="300,54,327,79" href="stb2.html" alt="to 3rd floor" title="to 3rd floor" />
  <area shape="rect" coords="235,53,282,77" href="stb1.html" alt="to 1st floor" title="to 1st floor" />
</map>
</body>
</html>
