<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>1st floor, S. Thayer</title>
</head>
<body>
<img src="/maps/stb1.gif" alt="1st floor S. Thayer" width="800" height="652" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="473,83,694,109" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="360,82,387,107" href="stb5.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="400,83,427,108" href="stb6.html" alt="to 6th floor" title="to 6th floor" />
  <area shape="rect" coords="320,83,347,108" href="stb4.html" alt="no classrooms 4th floor" title="no classrooms 4th floor" />
  <area shape="rect" coords="279,83,306,108" href="stb3.html" alt="to 3rd floor" title="to 3rd floor" />
  <area shape="rect" coords="244,83,271,108" href="stb2.html" alt="to 2nd floor" title="to 2nd floor" />
</map>
</body>
</html>
