<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>4th floor, S. Thayer</title>
</head>
<body>
<img src="/maps/stb4.gif" alt="Image 4th floor S. Thayer" width="800" height="630" border="0" usemap="#stb4" />
<map name="stb4" id="stb4">
  <area shape="rect" coords="500,54,721,80" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="433,54,460,79" href="stb6.html" alt="to 6th floor" title="to 6th floor" />
  <area shape="rect" coords="392,54,419,79" href="stb5.html" alt="to 5th floor" title="to 5th floor" />
  <area shape="rect" coords="354,54,381,79" href="stb3.html" alt="to 4th floor" title="to 4th floor" />
  <area shape="rect" coords="313,54,340,79" href="stb2.html" alt="to 3rd floor" title="to 3rd floor" />
  <area shape="rect" coords="248,54,295,78" href="stb1.html" alt="to 1st floor" title="to 1st floor" />
</map>
</body>
</html>
