<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>First floor - Tappan Hall</title>
</head>
<body>
<img src="/maps/tap1.jpg" alt="Image Tappan 1st floor" width="604" height="800" border="0" usemap="#tap1" />
<map name="tap1" id="tap1">
  <area shape="rect" coords="1,286,258,327" href="tap2.html" alt="to 2nd floor" />
  <area shape="rect" coords="6,524,333,568" href="index.html" alt="link to campus map" title="link to campus map" />
  <area shape="rect" coords="394,381,472,501" href="../classrooms/TAP130" alt="Link to data room 130" title="Link to data room 130" />
  <area shape="rect" coords="368,23,470,139" href="../classrooms/TAP180" alt="Link to data room 180" title="Link to data room 180" />
</map>
</body>
</html>
