<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Second floor - Tappan Hall</title>
</head>
<body>
<img src="/maps/tap2.jpg" alt="Image Tappan 2nd floor" width="588" height="800" border="0" usemap="#tap2" />
<map name="tap2" id="tap2">
  <area shape="rect" coords="1,294,246,325" href="tap1.html" alt="to 2nd floor" title="to 2nd floor" />
  <area shape="rect" coords="6,524,327,561" href="index.html" alt="to campus map" title="to campus map" />
  <area shape="rect" coords="251,89,360,166" href="../classrooms/TAP270" alt="link to data room 270" title="link to data room 270" />
  <area shape="rect" coords="474,90,579,165" href="../classrooms/TAP210" alt="Link to data room 210" title="Link to data room 210" />
</map>
</body>
</html>
