<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>USB - 3rd floor</title>
</head>
<body>
<img src="/maps/usb3.jpg" alt="Image USB - floor 3" border="0" usemap="#usb3" longdesc="usb3.jpg" />
<map name="usb3" id="usb3">
  <area shape="rect" coords="467,34,563,102" href="../classrooms/USB3230"  alt="Link to data room 3230" title="Link to data room 3230" />
  <area shape="rect" coords="41,2,127,57" href="../classrooms/USB3163"  alt="Link to data room 3163" title="Link to data room 3163" />
  <area shape="rect" coords="665,38,893,174" href="../classrooms/USB2260"  alt="Link to data room 2260" title="Link to data room 2260" />
  <area shape="rect" coords="717,290,734,315" href="usb4.html"  alt="Link to floor 4" title="Link to floor 4" />
  <area shape="rect" coords="678,290,695,315" href="usb2.html"  alt="Link to floor 2" title="Link to floor 2" />
  <area shape="rect" coords="605,290,654,316" href="usb1.html"  alt="Link to floor 1" title="Link to floor 1" />
  <area shape="rect" coords="346,321,705,350" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="poly" coords="918,2,995,3,997,52,968,74,960,63,917,63" href="../classrooms/USB3265"  alt="Link to data room 3265" title="Link to data room 3265" />
  <area shape="rect" coords="204,602,236,629" href="http://www-personal.umich.edu/~dcran/myoffice/usb3108.html" alt="link to dcran's office" title="link to dcran's office" />
</map>
</body>
</html>
