<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>USB - 4th floor</title>
</head>
<body>
<img src="/maps/usb4.jpg" alt="Image USB - floor 4" width="1024" height="716" border="0" usemap="#usb4" longdesc="usb4.jpg" />
<map name="usb4" id="usb4">
  <area shape="rect" coords="149,32,225,154" href="../classrooms/USB4152"  alt="Link to data room 4152" title="Link to data room 4152" />
  <area shape="rect" coords="3,154,125,242" href="../classrooms/USB4151"  alt="Link to data room 4151" title="Link to data room 4151" />
  <area shape="rect" coords="4,62,126,150" href="../classrooms/USB4153"  alt="Link to data room 4153" title="Link to data room 4153" />
  <area shape="rect" coords="607,289,656,313" href="usb1.html"  alt="Link to floor 1" title="Link to floor 1" />
  <area shape="rect" coords="678,288,695,313" href="usb2.html"  alt="Link to floor 2" title="Link to floor 2" />
  <area shape="rect" coords="335,322,694,351" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="rect" coords="716,289,733,314" href="usb3.html"  alt="Link to floor 3" title="Link to floor 3" />
</map>
</body>
</html>
