<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>USB - 2nd floor</title>
</head>
<body>
<img src="/maps/usb2.jpg" alt="Image USB - floor 2" width="1024" height="717" border="0" usemap="#usb2" longdesc="usb2.jpg" />
<map name="usb2" id="usb2">
  <area shape="rect" coords="785,34,893,177" href="../classrooms/USB2260"  alt="Link to data room 2260" title="Link to data room 2260" />
  <area shape="rect" coords="544,34,618,177" href="../classrooms/USB2234"  alt="Link to data room 2234" title="Link to data room 2234" />
  <area shape="rect" coords="466,34,540,177" href="../classrooms/USB2230"  alt="Link to data room 2230" title="Link to data room 2230" />
  <area shape="rect" coords="776,274,793,299" href="usb4.html"  alt="Link to floor 4" title="Link to floor 4" />
  <area shape="rect" coords="715,272,732,297" href="usb3.html"  alt="Link to floor 3" title="Link to floor 3" />
  <area shape="rect" coords="605,273,672,296" href="usb1.html"  alt="Link to floor 1" title="Link to floor 1" />
  <area shape="rect" coords="325,318,584,345" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  <area shape="poly" coords="8,198,7,35,38,35,38,67,217,66,217,154,122,153,123,198" href="http://www.lsa.umich.edu/slc/" target="blank" alt="Link to SLC home page" title="Link to SLC home page" />
</map>
</body>
</html>
