<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>USB - 1st floor</title>
</head>
<body>
<img src="/maps/usb1.jpg" alt="Image USB - floor 1" width="1024" height="722" border="0" usemap="#usb1" />
<map name="usb1" id="usb1"><area shape="rect" coords="68,158,164,238" href="http://www.lsa.umich.edu/urop/" target="blank" alt="link to the UROP homepage" title="link to the UROP homepage"/>
<area shape="rect" coords="106,371,183,424" href="http://www.wise.umich.edu/" target="blank" alt="link to the WISE homepage" title="link to the WISE homepage"/>
<area shape="rect" coords="108,491,176,555" href="http://www.lsa.umich.edu/pite" target="blank" alt="link to the PiTE homepage" title="link to the PiTE homepage" />
<area shape="rect" coords="733,49,888,168" href="../classrooms/USB1250"  alt="Link to data room 1250" title="Link to data room 1250" />
<area shape="rect" coords="456,47,649,167" href="../classrooms/USB1230"  alt="Link to data room 1230" title="Link to data room 1230" />
<area shape="rect" coords="641,266,658,291" href="usb4.html"  alt="Link to floor 4" title="Link to floor 4" />
<area shape="rect" coords="601,266,618,291" href="usb3.html"  alt="Link to floor 3" title="Link to floor 3" />
<area shape="rect" coords="561,266,578,291" href="usb2.html"  alt="Link to floor 2" title="Link to floor 2" />
<area shape="rect" coords="284,298,649,324" href="index.html"  alt="Link to campus map" title="Link to campus map" />
</map>
</body>
</html>
