<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>West Hall - 1st (ground) floor</title>
</head>
<body>
<p><img src="/maps/wh1.jpg" alt="Image West Hall - floor 1 (ground)" width="395" height="800" border="0" usemap="#wh1" />
  <map name="wh1" id="wh1">
    <area shape="rect" coords="64,569,110,596" href="wh2.html#bottom"  alt="Link to 2nd floor" title="Link to 2nd floor" />
    <area shape="rect" coords="125,571,166,597" href="wh3.html#bottom"  alt="Link to 3rd floor" title="Link to 3rd floor" />
    <area shape="rect" coords="181,571,222,597" href="wh4.html#bottom"  alt="Link to 4th floor" title="Link to 4th floor" />
    <area shape="rect" coords="60,609,239,632" href="index.html"  alt="Link to campus map" title="Link to campus map" />
  </map>
</p>
<p><a name="bottom" id="bottom"></a></p>
</body>
</html>
