<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>West Hall - 2nd floor</title>
</head>
<body>
<p><img src="/maps/wh2.jpg" alt="Image West Hall - floor 2" width="407" height="800" border="0" usemap="#wh2" />
  <map name="wh2" id="wh2"><area shape="rect" coords="113,567,218,592" href="wh1.html#bottom"  alt="Link to 1st (ground) floor" title="Link to 1st (ground) floor" />
    <area shape="rect" coords="123,606,164,632" href="wh3.html#bottom"  alt="Link to 3rd floor" title="Link to 3rd floor" />
    <area shape="rect" coords="169,605,210,631" href="wh4.html#bottom"  alt="Link to 4th floor" title="Link to 4th floor" />
    <area shape="rect" coords="78,636,257,659" href="index.html"  alt="Link to campus map" title="Link to campus map" />
    <area shape="rect" coords="280,269,327,299" href="../classrooms/WH242"  alt="Link to data room 242" title="Link to data room 242" />
    <area shape="poly" coords="258,693,287,710,325,671,323,657,299,657" href="../classrooms/WH210" alt="link to data room 210" title="Link to data room 210" />
  </map>
</p>
<p><a name="bottom" id="bottom"></a></p>
</body>
</html>
