<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>West Hall - 3rd floor</title>
</head>
<body>
<p><img src="/maps/wh3.jpg" alt="Image West Hall - floor 3" width="400" height="800" border="0" usemap="#wh3" />
  <map name="wh3" id="wh3">
    <area shape="rect" coords="120,581,219,605" href="wh1.html#bottom"  alt="Link to 1st (ground) floor" title="Link to 1st (ground) floor" />
    <area shape="rect" coords="126,615,170,641" href="wh2.html#bottom"  alt="Link to 2nd floor" title="Link to 2nd floor" />
    <area shape="rect" coords="175,615,216,641" href="wh4.html#bottom"  alt="Link to 4th floor" title="Link to 4th floor" />
    <area shape="rect" coords="89,645,253,670" href="index.html"  alt="Link to campus map" title="Link to campus map" />
    <area shape="rect" coords="345,425,390,484" href="../classrooms/WH335"  alt="Link to data room 335" title="Link to data room 335" />
  </map>
</p>
<p><a name="bottom" id="bottom"></a></p>
</body>
</html>
