<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>West Hall - 4th floor</title>
</head>
<body>
<p><img src="/maps/wh4.jpg" alt="Image West Hall - floor 3" width="395" height="800" border="0" usemap="#wh4" />
  <map name="wh4" id="wh4">
    <area shape="rect" coords="101,573,207,596" href="wh1.html#bottom"  alt="Link to 1st (ground) floor" title="Link to 1st (ground) floor" />
    <area shape="rect" coords="106,608,150,634" href="wh2.html#bottom"  alt="Link to 2nd floor" title="Link to 2nd floor" />
    <area shape="rect" coords="166,609,207,635" href="wh3.html#bottom"  alt="Link to 3rd floor" title="Link to 3rd floor" />
    <area shape="rect" coords="64,639,241,665" href="index.html"  alt="Link to campus map" title="Link to campus map" />
    <area shape="rect" coords="212,738,290,779" href="../classrooms/WH409"  alt="Link to data room 409" title="Link to data room 409" />
    <area shape="poly" coords="251,687,278,714,318,678,289,650" href="../classrooms/WH412" alt="Link to data room 412" title="Link to data room 412" />
  </map>
</p>
<p><a name="bottom" id="bottom"></a></p>
</body>
</html>
